[user]
	name = Freddie Ridell
	email = freddie@codogo.io
[alias]
	d = difftool
	graph = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
[difftool]
    prompt = false
[diff]
    tool = nvimdiff
[difftool "nvimdiff"]
	cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[core]
	editor = nvim -d 
[push]
	default = simple
	followTags = true
[merge]
	tool = nvim -d
	conflictstyle = diff3
[status]
	showUntrackedFiles = all
