[user]
	name = Freddie Ridell
	email = freddie@codogo.io
[difftool]
	prompt = false
[alias]
	d = difftool
[diff]
	tool = nvim -d
[core]
	editor = nvim -d 
[push]
	default = simple
[merge]
	tool = nvim -d
	conflictstyle = diff3
