[alias]
	bb = "bisect bad"
	bg = "bisect good"
	clean-branches = !git remote prune origin && git branch --merged >/tmp/merged-branches && $EDITOR /tmp/merged-branches && xargs git branch -d </tmp/merged-branches
	d = difftool
	difff = diff -w
	diffff = diff -w --word-diff
	fix = "commit --all --fixup HEAD --no-verify"
	graph = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)'
	jira = "! gitJira"
	logg = log --decorate --stat
	rc = "rebase --continue"
	rebase = "rebase --autosquash"
	whoops = !git add --all && git commit --amend
	wip = "!f(){ git commit --all --no-verify -m \"wip $(date +%Y-%m-%d_%H:%M:%S)\"; }; f;"

[difftool]
	prompt = false

[diff]
	tool = nvimdiff
	algorithm = histogram
	noprefix = true

[difftool "nvimdiff"]
	cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""

[merge]
	tool = vimdiff
	algorithm = histogram
[mergetool]
	prompt = true
[mergetool "vimdiff"]
	cmd = nvim -d $REMOTE $BASE $LOCAL $MERGED -c '$wincmd w' -c 'wincmd J'

[core]
	editor = nvim -d 
	shell = /usr/bin/zsh

[push]
	default = simple
	followTags = true

[status]
	showUntrackedFiles = all
[color]
	ui = always
[receive]
	denyCurrentBranch = ignore
[pull]
	rebase = true
[rebase]
	autoStash = true
	autoSquash = true
	algorithm = histogram
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
