#define BLACK  #2c292d
#define RED    #ff6188
#define GREEN  #a9dc76
#define ORANGE #fc9867
#define BLUE   #78dce8
#define PURPLE #ab9df2
#define YELLOW #ffd866
#define WHITE #fdf9f3
!#define #121212
!#define #ea436c
!#define #90bc63
!#define #e67d4a
!#define #61c1cc
!#define #8f80dc
!#define #ebc147
!#define #f0e2ce

!black
!red
!green
!yellow
!blue
!purple
!cyan
!white
!bright black
!bright red
!bright green
!bright yellow
!bright blue
!bright purple
!bright cyan
!bright white

URxvt.perl-ext-common: selection-to-clipboard

URxvt.font: -misc-tamzen-medium-*-*-*-15-*-*-*-*-*-*-*
URxvt.boldFont: -misc-tamzen-bold-*-*-*-15-*-*-*-*-*-*-*

URxvt.scrollBar: false
URxvt.scrollStyle: rxvt
URxvt.keysym.Control-Up:     \033[1;5A
URxvt.keysym.Control-Down:   \033[1;5B
URxvt.keysym.Control-Left:   \033[1;5D
URxvt.keysym.Control-Right:  \033[1;5C

!colors
URxvt.background: BLACK
URxvt.foreground: WHITE
!dim
URxvt.color0:     BLACK
URxvt.color1:     RED
URxvt.color2:     GREEN
URxvt.color3:     ORANGE
URxvt.color4:     BLUE
URxvt.color5:     PURPLE
URxvt.color6:     YELLOW
URxvt.color7:     WHITE
!bright
URxvt.color8:     BLACK
URxvt.color9:     RED
URxvt.color10:    GREEN
URxvt.color11:    ORANGE
URxvt.color12:    BLUE
URxvt.color13:    PURPLE
URxvt.color14:    YELLOW
URxvt.color15:    WHITE

! State:           ´bg´,     ´fg´,     ´bgalt´,  ´hlbg´,   ´hlfg´
rofi.color-window: BLACK,  BLUE
rofi.color-normal: BLACK,  WHITE,  BLACK,  GREEN,   BLACK
rofi.color-urgent: BLACK,  WHITE,  BLACK,  ORANGE,  BLACK
rofi.color-active: BLACK,  WHITE,  BLACK,  GREEN,   BLACK

rofi.font: Tamzen Regular 12px
