#define  BLACK        #2c292d
#define  RED          #ff6188
#define  GREEN        #a9dc76
#define  YELLOW       #ffd866
#define  BLUE         #78dce8
#define  PURPLE       #ab9df2
#define  ORANGE       #fc9867
#define  WHITE        #fdf9f3
#define  DARK_BLACK   #160d16
#define  DARK_RED     #ff2e62
#define  DARK_GREEN   #90ee31
#define  DARK_YELLOW  #ffcb33
#define  DARK_BLUE    #32e6fb
#define  DARK_PURPLE  #775dff
#define  DARK_ORANGE  #ff7531
#define  DARK_WHITE   #959190

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!           urxvt            !
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

URxvt.perl-ext-common: selection-to-clipboard,font-size

URxvt.font: -misc-tamzen-medium-*-*-*-12-*-*-*-*-*-*-*
URxvt.boldFont: -misc-tamzen-bold-*-*-*-12-*-*-*-*-*-*-*

URxvt.chdir: /home/freddie 
URxvt.scrollBar: false
URxvt.urgentOnBell: true

URxvt.keysym.Control-Up:     \033[1;5A
URxvt.keysym.Control-Down:   \033[1;5B
URxvt.keysym.Control-Left:   \033[1;5D
URxvt.keysym.Control-Right:  \033[1;5C

!colors
URxvt.background:  BLACK
URxvt.foreground:  WHITE
!dim
URxvt.color0:      BLACK
URxvt.color1:      RED
URxvt.color2:      GREEN
URxvt.color3:      YELLOW
URxvt.color4:      BLUE
URxvt.color5:      PURPLE
URxvt.color6:      ORANGE
URxvt.color7:      WHITE
!bright
URxvt.color8:      DARK_BLACK
URxvt.color9:      DARK_RED
URxvt.color10:     DARK_GREEN
URxvt.color11:     DARK_YELLOW
URxvt.color12:     DARK_BLUE
URxvt.color13:     DARK_PURPLE
URxvt.color14:     DARK_ORANGE
URxvt.color15:     DARK_WHITE

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!           rofi             !
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

! State:           ´bg´,     ´fg´,     ´bgalt´,  ´hlbg´,   ´hlfg´
rofi.color-window: BLACK,  BLUE
rofi.color-normal: BLACK,  WHITE,  BLACK,  GREEN,   BLACK
rofi.color-urgent: BLACK,  WHITE,  BLACK,  ORANGE,  BLACK
rofi.color-active: BLACK,  WHITE,  BLACK,  GREEN,   BLACK

rofi.font: Tamzen Regular 12px
rofi.terminal: urxvt
rofi.modi: hypertask:~/.i3/hypertaskRofiScript.sh
