#define BACKGROUND #2c292d
#define WHITE #fdf9f3
#define RED #ff6188
#define ORANGE #fc9867
#define YELLOW #ffd866
#define GREEN #a9dc76
#define BLUE #78dce8
#define PURPLE #ab9df2

URxvt.perl-ext-common: selection-to-clipboard

URxvt.font: -misc-tamzen-medium-*-*-*-15-*-*-*-*-*-*-*
URxvt.boldFont: -misc-tamzen-bold-*-*-*-15-*-*-*-*-*-*-*

URxvt.scrollBar: false
URxvt.scrollStyle: rxvt

!colors
URxvt.background: BACKGROUND
URxvt.foreground: WHITE
!dim
URxvt.color0:     BACKGROUND
URxvt.color1:     RED
URxvt.color2:     GREEN
URxvt.color3:     ORANGE
URxvt.color4:     BLUE
URxvt.color5:     PURPLE
URxvt.color6:     YELLOW
URxvt.color7:     WHITE
!bright
URxvt.color8:     BACKGROUND
URxvt.color9:     RED
URxvt.color10:    GREEN
URxvt.color11:    ORANGE
URxvt.color12:    BLUE
URxvt.color13:    PURPLE
URxvt.color14:    YELLOW
URxvt.color15:    WHITE

! State:           ´bg´,     ´fg´,     ´bgalt´,  ´hlbg´,   ´hlfg´
rofi.color-window: BACKGROUND,  BLUE
rofi.color-normal: BACKGROUND,  WHITE,  BACKGROUND,  GREEN,  BACKGROUND
rofi.color-urgent: BACKGROUND,  WHITE,  #eee8d5,  ORANGE,  BACKGROUND
rofi.color-active: BACKGROUND,  WHITE,  #eee8d5,  GREEN,  BACKGROUND

rofi.font: Tamzen Regular 12px
